body {
    background-image: url('../..//images/pipboy.png');
    background-repeat:no-repeat;
    background-size: cover;
    width: 100vw;
    height:100vh; 
    font-family: 'Share Tech Mono', monospace;
    color: rgb(169,210,152);
    text-shadow: 2px 2px black;
    font-size: larger
}

a, a:hover {
    color: inherit;
    text-decoration: none;
}

#content-header {
    border-bottom: 0.05em solid rgb(169,210,152);
}

#survey-link {
    margin-top: 10em;
}

#selection-divide {
    border-bottom: 0.05em solid rgb(169,210,152);
}

#question-buttons * {
    background: transparent;
    border: none;
    width: 50vw;
    margin-left: 9em;
    color:rgb(169,210,152);
}

.jumbotron {
   background: transparent;
   margin-top: 4em;
   margin-left: 8em;
}

button {
    background: transparent;
    border: none;
    color: rgb(169,210,152)
}

button:hover, #question-buttons>button:hover {
    background: initial;
    background-color: rgb(169,210,152);
    color: rgb(0,89,34)
}